Package: com.filippobiga.back2first
Name: back2first
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: FilippoBiga
Author: FilippoBiga
Section: Tweaks
